@*@model Customer_Portal.Models.LoginModel*@

@{
    ViewBag.Title = "ForgotPassword";
}

@*Need to remember to see how to display to the user a message that
a reset link has been sent to their email after they click submit*@

<section id="forgotPasswordForm">
<h2>ForgotPassword</h2>

@using (Html.BeginForm(@*new { ReturnUrl = ViewBag.ReturnUrl }*@))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	
	<fieldset>
		<legend>Forgot Password Form</legend>
		<div>
			@Html.Label("Email Address:")
			@Html.TextBox("email")
		</div>
		<input type="submit" value="Reset Password" />
	</fieldset>
	
	<p>
		@Html.ActionLink("Return to Login","Login")
	</p>
}
</section>

@section Scripts {

}