@model Customer_Portal.Models.LoginModel

@{
    ViewBag.Title = "ResetPassword";
}

@*Submitting this form should do one of two things:
1. Notify bad access if either the token is invalid or the passwords are insufficient
2. Log the user in and bring them to their dashbaord*@

<section id="confirmResetForm">
	<h2>ResetPassword</h2>

@using (Html.BeginForm(@*new { ReturnUrl = ViewBag.ReturnUrl }*@))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	
	<fieldset>
		<legend>Confirm Password Reset</legend>
		<ol>
			<li>
				@Html.LabelFor(m => m.UserName)
				@Html.TextBoxFor(m => m.UserName)
				@Html.ValidationMessageFor(m => m.UserName)
			</li>
			<li>
				@Html.LabelFor(m => m.Password)
				@Html.PasswordFor(m => m.Password)
				@Html.ValidationMessageFor(m => m.Password)
			</li>
			<li>
				<label for="ConfirmPassword">Confirm Password</label>
				<input id="ConfirmPassword" name="ConfirmPassword" type="password" />
				@*Need to see about validating that the password field and confirm password field match*@
			</li>
		</ol>
		<input type="hidden" id="ResetToken" value="@*Replace this*@token" />
		<input type="submit" value="Reset Password" />
	</fieldset>
}
</section>
